# --- Backend Core ---
fastapi
uvicorn[standard]
python-dotenv
python-multipart
typer
requests

# --- Database ---
sqlmodel
alembic

# --- Auth & Security ---
passlib[bcrypt]
python-jose[cryptography]

# --- Frontend ---
streamlit
streamlit-copy-to-clipboard

# --- AI & Image Processing ---
# 의존성 확인을 위해 명시
torch
torchvision
torchaudio

# Diffusers & HuggingFace
diffusers
transformers
accelerate
safetensors
huggingface_hub

# Image Utils
opencv-python-headless
Pillow
rembg
onnxruntime-gpu
numpy

# --- LLM (OpenAI) ---
openai