# --- Core AI ---
torch==2.5.1
torchvision==0.20.1

# --- Backend Core ---
fastapi
uvicorn[standard]
python-dotenv
python-multipart
typer
requests

# --- Database ---
sqlmodel
alembic

# --- Auth & Security ---
passlib[bcrypt]
python-jose[cryptography]

# --- Frontend ---
streamlit
streamlit-copy-to-clipboard
blinker

# --- AI & Image Processing (Core) ---
git+https://github.com/huggingface/diffusers.git

numpy<2.0

transformers
accelerate
bitsandbytes
safetensors
huggingface_hub

# --- Image Utils ---
Pillow
rembg
opencv-python-headless
onnxruntime-gpu 

# --- LLM (OpenAI) ---
openai
